<% meta title: "Home", description: "Liberals claim to be tolerant. They aren't." %>

<div class="jumbotron">
  <h1>Kill Trump Supporters</h1><br>
  <p>And other hateful things liberals say online.</p>
  <%= link_to 'View Tweets', tweets_path, class: 'btn btn-lg btn-primary' %><br>
  <small><i>last import: <%= last_import_ago %> minutes ago</i></small>
</div>
